.forest{
  color: #236B8E !important;
}
.pink{
  color: #de71c7 !important;
}
.yello{
  color: #f76241 !important;
}
.skyblue{
  color:#4169E1 !important;
}
.red{
  color: #FF0000 !important;    
}
.blue{
  color: #00009C !important;
}
.fish{
 color: #002521 !important;
}
.grey{
  color: #002521 !important;
}
.black{
  color: #0091ff !important;
}
